body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/magic.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}



    

